USE [master]
GO
/****** Object:  Database [WoWW]    Script Date: 06-12-21 13:58:16 ******/
CREATE DATABASE [WoWW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WoWW', FILENAME = N'C:\Users\s.mauti\WoWW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WoWW_log', FILENAME = N'C:\Users\s.mauti\WoWW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WoWW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WoWW]
GO
/****** Object:  Table [dbo].[Character]    Script Date: 06-12-21 13:58:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Character](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[LP] [int] NOT NULL,
	[AP] [int] NOT NULL,
	[status] [bit] NOT NULL,
	[FK_Type] [int] NULL,
	[FK_Player] [int] NULL,
 CONSTRAINT [PK_Character] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fight]    Script Date: 06-12-21 13:58:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fight](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[dateFight] [datetime2](7) NULL,
	[FK_Tournament] [int] NULL,
	[FK_Winner] [int] NULL,
	[FK_Looser] [int] NULL,
 CONSTRAINT [PK_Fight] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participation]    Script Date: 06-12-21 13:58:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[registrationDate] [datetime2](7) NOT NULL,
	[FK_Team] [int] NULL,
	[FK_Tournament] [int] NULL,
 CONSTRAINT [PK_Participation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Player]    Script Date: 06-12-21 13:58:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[Id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[FK_Team] [int] NULL,
 CONSTRAINT [PK_Player] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 06-12-21 13:58:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[score] [int] NOT NULL,
 CONSTRAINT [PK_Team] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tournament]    Script Date: 06-12-21 13:58:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tournament](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[category] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tournament] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 06-12-21 13:58:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nameType] [nvarchar](50) NOT NULL,
	[minLP] [int] NOT NULL,
	[maxLP] [int] NOT NULL,
	[minAP] [int] NOT NULL,
	[maxAP] [int] NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Character] ADD  CONSTRAINT [DF_Character_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Team] ADD  CONSTRAINT [DF_Team_score]  DEFAULT ((0)) FOR [score]
GO
ALTER TABLE [dbo].[Character]  WITH CHECK ADD  CONSTRAINT [FK_Character_Player] FOREIGN KEY([FK_Player])
REFERENCES [dbo].[Player] ([Id])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Character] CHECK CONSTRAINT [FK_Character_Player]
GO
ALTER TABLE [dbo].[Character]  WITH CHECK ADD  CONSTRAINT [FK_Character_Type] FOREIGN KEY([FK_Type])
REFERENCES [dbo].[Type] ([Id])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Character] CHECK CONSTRAINT [FK_Character_Type]
GO
ALTER TABLE [dbo].[Fight]  WITH CHECK ADD  CONSTRAINT [FK_Fight_Tournament] FOREIGN KEY([FK_Tournament])
REFERENCES [dbo].[Tournament] ([Id])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Fight] CHECK CONSTRAINT [FK_Fight_Tournament]
GO
ALTER TABLE [dbo].[Fight]  WITH CHECK ADD  CONSTRAINT [FK_Looser] FOREIGN KEY([FK_Looser])
REFERENCES [dbo].[Character] ([Id])
GO
ALTER TABLE [dbo].[Fight] CHECK CONSTRAINT [FK_Looser]
GO
ALTER TABLE [dbo].[Fight]  WITH CHECK ADD  CONSTRAINT [FK_Winner] FOREIGN KEY([FK_Winner])
REFERENCES [dbo].[Character] ([Id])
GO
ALTER TABLE [dbo].[Fight] CHECK CONSTRAINT [FK_Winner]
GO
ALTER TABLE [dbo].[Participation]  WITH CHECK ADD  CONSTRAINT [FK_Participation_Team] FOREIGN KEY([FK_Team])
REFERENCES [dbo].[Team] ([Id])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Participation] CHECK CONSTRAINT [FK_Participation_Team]
GO
ALTER TABLE [dbo].[Participation]  WITH CHECK ADD  CONSTRAINT [FK_Participation_Tournament] FOREIGN KEY([FK_Tournament])
REFERENCES [dbo].[Tournament] ([Id])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Participation] CHECK CONSTRAINT [FK_Participation_Tournament]
GO
ALTER TABLE [dbo].[Player]  WITH CHECK ADD  CONSTRAINT [FK_Player_Team] FOREIGN KEY([FK_Team])
REFERENCES [dbo].[Team] ([Id])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Player] CHECK CONSTRAINT [FK_Player_Team]
GO
ALTER TABLE [dbo].[Tournament]  WITH CHECK ADD  CONSTRAINT [CK_Tournament] CHECK  (([category]='Advanced' OR [category]='Intermediate' OR [category]='Beginner'))
GO
ALTER TABLE [dbo].[Tournament] CHECK CONSTRAINT [CK_Tournament]
GO
USE [master]
GO
